<div class="container-wrapper">
    <div class="container">
        <div>
            <div class="logo">
                <h1 class="fs-1 fw-bold text-primary">Revbook</h1>
                <h2 class="fs-3 fw-lighter">Connect with literally everyone, ever.</h2>
            </div>
            <div class="login">
                <input type="text" name="username" placeholder="Username" [(ngModel)]="username"/>
                <input type="password" name="password" placeholder="Password" [(ngModel)]="password"/>
                <button class="btn btn-primary" (click)="login()">Log In</button>
                <p class="text-primary cursor-pointer forgot-password">Forgot Password?</p>
                <hr class="w-75"/>
                <app-register-modal></app-register-modal>
            </div>
        </div>
    </div>
</div>