<div class="alert alert-danger" [ngClass]="{'hide': hideAlert}">{{ alertMessage }}</div>
<div class="alert alert-success" [ngClass]="{'hide': hideSuccess}">Please check your email</div>
<div class="modal-header">
    <div>
      <h4 class="modal-title">Forgot Password?</h4>
      <p>Enter the email associated with your account below</p>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        <input type="email" name="email" placeholder="youremail@example.com" [(ngModel)]="email"/>
    </div>
    <button type="button" class="btn btn-success" (click)="sendResetPasswordLink()">Confirm</button>
</div>