.feedContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 680px;
    align-items: center;
    justify-content: center;
}

.new-post-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    width: 96%;
    margin: 10px 0;
}

.round-input {
    border-radius: 20px;
    border: none;
    background-color: #f0f2f5;
    height: 40px;
    padding: 0 12px;
    width: 100%;
}

.round-input:focus, input:focus {
    outline: none;
}

.profile-pic {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.new-post-input {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 100%;
}

.form-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 216px;
    border-radius: 6px;
    cursor: pointer;
}

.form-button-div:hover {
    background-color: rgba(0,0,0,.05);
}

.form-button-div p {
    margin: 0;
}

.flex-buttons {
    margin-top: 10px;
    display: flex;
}

app-post {
    width: 96%;
    max-width: 680px;
}

fa-icon {
    font-size: 24px;
}