<div class="feedContainer">
    <div class="new-post-form" *ngIf="homePage">
        <div>
            <img src={{currentUser.userProfileImage}}/>
            <input type="text" [(ngModel)]="newPostMessage" placeholder="What's on your mind, {{currentUser.userFirstName}} ?"/>
        </div>
        <input style="display: none" 
               type="file" 
               multiple (change)="onFileSelected($event)" 
               accept="image/*"
               #fileInput/>
        <div class="btn btn-success" (click)="fileInput.click()">
            Select Files
        </div>
        <div class="btn-btn-success" (click)="createPost()">
            Create Post
        </div>
    </div>
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
    <ngb-pagination  [collectionSize]="posts.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [pageSize]="20"></ngb-pagination>
</div>