.feedContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 680px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.new-post-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    width: 96%;
    margin: 10px 0;
}

.new-post-form input, .new-post-form div {
    width: 100%;
}

app-post {
    width: 96%;
    max-width: 680px;
}