.feedContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 680px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

app-post {
    width: 96%;
    max-width: 680px;
}
