<div class="feedContainer">
    <div class="new-post-form" *ngIf="homePage">
        <div class="new-post-input">
            <img class="profile-pic" src={{currentUser.userProfileImage}} routerLink="/user/{{currentUser.userId}}"/>
            <input class="round-input" type="text" [(ngModel)]="newPostMessage" placeholder="What's on your mind, {{currentUser.userFirstName}}?"/>
        </div>
        <input style="display: none" 
               type="file" 
               multiple 
               (change)="onFileSelected($event)" 
               accept="image/*"
               #fileInput
        />
        <hr class="separator"/>
        <div class="flex-buttons">
            <div class="form-button-div" (click)="fileInput.click()">
                <fa-icon class="text-primary" [icon]="faImages"></fa-icon>
                <p>Photo/Image</p>
            </div>
            <div class="form-button-div" (click)="createPost()">
                <fa-icon class="text-success" [icon]="faPlusSquare"></fa-icon>
                <p>Create Post</p>
            </div>
        </div>
    </div>
    <app-post *ngFor="let post of posts | slice: (page-1) * pageSize : page * pageSize" [changedUser]="currentUser" [post]="post"></app-post>
    <ngb-pagination (pageChange)="pageChanged($event)" *ngIf="collectionSize> 20" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [pageSize]="20"></ngb-pagination>
</div>