<div class="modal-header">
  <div>
    <h4 class="modal-title">Upload Profile Image</h4>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="upload">
      <input style="display: none" 
              type="file" 
              multiple 
              (change)="onFileSelected($event)" 
              accept="image/*"
              #fileInput
      />
      <div class="form-button-div">
        <fa-icon class="text-primary" [icon]="faImages" (click)="fileInput.click()"></fa-icon>
        <p>Photo/Image</p>
      </div>
  </div>
</div>