<app-navbar (filterUsers)="filterFriends($event)"></app-navbar>
<app-friends-list [profilePage]="true" [showFriends]="showFriends" [users]="friends"></app-friends-list>
<div class="background-container">
    <div class="header">
        <div class="header-banner">
            <div class="profile-banner" *ngIf="currentProfileUser" (click)="currentProfileUser.userId == loggedInUser.userId ? openUpdateProfileImageForm() : null">
                <img class="profile-pic" src={{currentProfileUser.userProfileImage}}/>
                <div *ngIf="currentProfileUser.userId == loggedInUser.userId" class="camera">
                    <fa-icon [icon]="faCamera"></fa-icon>
                </div>
            </div>
        </div>
        <div *ngIf="currentProfileUser">
            <h1 class="profile-name">{{ (currentProfileUser.userFirstName || '') + " " + (currentProfileUser.userLastName || '') }}</h1>
            <div class="description">
                <p *ngIf="currentProfileUser.userProfileDescription">{{ currentProfileUser.userProfileDescription }}</p>
            </div>
            <div class="description-btn">
                <p *ngIf="currentProfileUser.userId == loggedInUser.userId" class="add-bio" (click)="openUpdateBioForm()">{{ currentProfileUser.userProfileDescription ? 'Edit' : 'Add Bio' }}</p>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="page-content">
            <app-update-info-form *ngIf="currentProfileUser.userId == loggedInUser.userId" (updateUser)="updateProfile($event)"></app-update-info-form>
            <app-post-feed [currentUser]="currentProfileUser" [posts]="posts"></app-post-feed>
        </div>
    </div>
</div>