.register {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.register input {
    width: 100%;
    margin: 4px 8px;
    font-size: 15px;
    line-height: 16px;
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    padding: 11px;
    border-radius: 6px;
}

.register div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.register div input {
    width: 49%;
}

.modal-header {
    padding: 1rem 1rem 0 1.8rem;
}

.modal-footer {
    display: flex;
    border-top: none;
    justify-content: center;
}

div.modal-content {
    width: 432px !important;
}

.btn-success {
    height: 36px;
    width: 194px;
}