<div class="modal-header">
  <div>
    <h4 class="modal-title">Sign Up</h4>
    <p>It's quick and easy.</p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="register">
      <div>
        <input type="text" name="firstName" placeholder="First name" [(ngModel)]="firstName">
        <input type="text" name="lastName" placeholder="Last name" [(ngModel)]="lastName">
      </div>
      <input type="text" name="username" placeholder="Username" [(ngModel)]="username">
      <input type="text" name="password" placeholder="Password" [(ngModel)]="password">
      <input type="text" name="email" placeholder="Email" [(ngModel)]="email">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="activeModal.close('Close click')">Sign Up</button>
</div>